# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# VSCode
.vscode/

# Environment
env/
venv/
.venv/

# OS files
.DS_Store
Thumbs.db

# Node modules (if any frontend uses them)
node_modules/

# Logs
*.log
